# 基本規則
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.blob
*.debug
*.trace
target/

# Sui Move 相關
contract/build/

# JavaScript/TypeScript 相關
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# 日誌檔案
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 其他前端相關
node_modules/
dist/
dist-ssr/
*.local

# 編輯器相關
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?